/* Transforme le modèle de boite par défaut pour inclure dans la largeur et la hauteur, les marges intérieures et les bordures. */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Réglages body */
body {
  font-family: var(--font-work-sans);
  font-size: var(--body);
  line-height: 1.6;
  background-color: var(--impure-black);
  color: var(--impure-white);
  margin: 0;

}

h2 {
  font-size: 40px;
  text-align: center;
  color: var(--impure-white);
}

h3 {
  font-size: 30px;
  color: var(--impure-white);
}

/* Annuler la mise en forme des liens */
a {
  font-family: 'mulish';
  text-decoration: none;
  color: #000000;
  }
  
  a:hover {
    opacity: 0.7;
  }

ul {
  list-style: none;
  font-family: 'mulish';
}

/* permet d'annuler la mise en forme des bouton qu'applique le navigateur. */
button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
  
/* Pour enlever l'apparence par défaut des listes */
.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
  
/* Classe générique permettant de définir les marges sur les cotés */
.container {
  padding-left: var(--space3x);
  padding-right: var(--space3x);
}


/* Page Projets */
.title__works {
  color: var(--impure-white);
  font-size: 30px;
  margin: 0;
}

.description__works {
  font-size: 16px;
  font-weight: 300;
}

/* Page à propos */
.about__description {
  margin-bottom: 30%;
}

.about__anectodes {
  margin-top: 30%;
}

.about__number {
  display: flex;
  gap: var(--space3x);
  align-items: center;
}

.about__contact {
  margin-top: 30%;
  margin-bottom: 30%;
}

.number {
  color: var(--gray);
}

/* Page conditions */
.title__juridique {
margin-bottom: 10%;
}

.text__juridique {
  margin-top: 10%;
}