/* Transforme le modèle de boite par défaut pour inclure dans la largeur et la hauteur, les marges intérieures et les bordures. */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Les règles typographiques générales qui s'appliquent à tout le site */
body {
  font-family: var(--font-work-sans);
  font-size: var(--body);
  line-height: 1.6;
  background-color: var(--impure-white);
}

/* permet d'annuler la mise en forme des bouton qu'applique le navigateur. */
button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
  
/* Pour enlever l'apparence par défaut des listes */
.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
  
/* Classe générique permettant de définir les marges sur les cotés */
.container {
  padding-left: var(--space3x);
  padding-right: var(--space3x);
}

/* Animation des titres Projets et Contact */

.text {
  font-family: 'Work Sans';
  text-align: center;
  font-size: 20vw;
  transition: font-size 0.5s;
}

.text.big {
  font-size: 20vw;
}

.text.small {
  font-size: 10vw;
}