/* Transforme le modèle de boite par défaut pour inclure dans la largeur et la hauteur, les marges intérieures et les bordures. */
img {
    max-width: 100%;
    height: auto;
  }
  
figure {
  margin: 0;
}

figcaption {
  font-size: var(--text-sm);
  color: var(--gray-600);
}

*, *:before, *:after {
    box-sizing: border-box;
}


/* Page projets */
.container__works {
  display: flex;
  justify-content: center;
  margin-top: 20;
  margin-bottom: 10%;
}

.grid____works {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 2px;
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
  max-width: 100%;
}

@media (max-width: 767px) {
  .grid____works {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 430px) {
  .grid____works {
    grid-template-columns: 1fr;
  }
}







/* Animation des images de projets */
.overlay-outer {
  position: relative;
  overflow: hidden;
  margin-bottom: -2%;
}

.overlay {
  background-color: ghostwhite ;
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}


.a:hover .overlay {
  opacity: 0.7;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}

.overlay-outer:hover .content-details {
  opacity: 1;
}

.content-details h3 {
  color: #000;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}


.fadeIn_bottom {
  top: 80%;
}





.img__about {
  display: flex;
  max-width: 45%;
  gap: 5%;
}

/* Appliquer la mise en page en une seule colonne pour les résolutions de téléphone */
@media (max-width: 1000px) {
  .img__about {
     display: none;
  }
}