/* Transforme le modèle de boite par défaut pour inclure dans la largeur et la hauteur, les marges intérieures et les bordures. */
img {
    max-width: 100%;
    height: auto;
  }
  
figure {
  margin: 0;
}

figcaption {
  font-size: var(--text-sm);
  color: var(--gray-600);
}

*, *:before, *:after {
    box-sizing: border-box;
}


/* Page projets */
.container__works {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15%;
  }

.work {
  margin-bottom: 50%;
}

.grid__works__3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: var(--space2x);
}

.grid__works__2 {
  display: flex;
  gap: 7.3%;
}

.grid__works__2 > div:last-child {
  justify-self: end;
}

/* Responsive des images */
@media only screen and (max-width: 1024px) {
  .grid__works__2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid__works__3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 602px) {
  .grid__works__2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid__works__3 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.img_resp {
  display: block;
  width: 100%;
}
