/* Transforme le modèle de boite par défaut pour inclure dans la largeur et la hauteur, les marges intérieures et les bordures. */

img {
    max-width: 100%;
    height: auto;

  }
  
figure {
  margin: 0;
}

figcaption {
  font-size: var(--text-sm);
  color: var(--gray-600);
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* Présentation des projets */
.image__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colonnes pour les écrans larges */
  margin-top: 10%;
}

.image {
  width: 100%; /* remplir la colonne */
  padding: 0.5vw;
  transition: all 0.5s;
}

.image:hover {
  transform: scale(1.02);
}

/* Changer la mise en page pour les écrans de téléphone */
@media (max-width: 768px) {
  .image__container {
    grid-template-columns: 1fr; /* une colonne pour les écrans de téléphone */
  }
}