.content-description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin: 10%;
    align-items: center;
  }
  
  
.mini-info {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, 20%);    
    grid-template-rows: auto;
    gap: 5%;
  }

.mini-info ul {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 1em;
}

.mini-info li {
    color: var(--impure-white);
}

.info {
    grid-column: 2 / 3;
  }

.info h2 {
    color: var(--impure-white);
}

.no-line {
    text-transform: uppercase;
    font-size: 18px;
}
  


.flex__text {
  margin: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);    
  align-items: center;
}

@media (max-width: 790px) {
  .flex__text {
    grid-template-columns: 1fr ;
  }
}

  
.flex__img_text {
  margin: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);    
  gap: 10%;
  align-items: center;
}

.flex__img_text li {
color: var(--impure-white);
}


.other {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  justify-content: space-between;
}


.other p {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}

.other__arrow {
  display: flex;
  gap: 6%;
}