.footer {
    background-color: black;
    color: var(--impure-white);
    padding: var(--space4x) var(--space4x);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    
  }
  
  footer a {
    color: var(--gray-400);
    text-decoration: none;
  }
  
  .footer__list {
    display: flex;
    gap: var(--space3x);
  }
  
  .footer__list img {
    filter: invert(60%);
  }

  .footer__logo {
    width: 20%;
  }
  
  .footer__title {
    margin-top: 0;
    text-transform: uppercase;
    font-size: var(--text-sm);
    letter-spacing: var(--letter-spacing);
  }

  .footer__contact {
    margin-bottom: 3%;
  }
  
  .footer > *:not(:first-child) {
    margin-top: var(--space3x);
  }


  @media (max-width: 767px) {
    .footer {
      grid-template-columns: 1fr;
    }
  }

