/* Formulaire */
.form {
    padding-top: 10%;
    padding-bottom: 20%;
    margin-bottom: 0;
    margin-top: var(--space4x);
  }
  
  .form__input input,
  .form__select select {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    border-bottom: 1px solid var(--gray-400);
    width: 100%;
    padding: var(--space1x) 0;
  }
  
  .form__input input:focus,
  .form__select select:focus {
    outline: 0;
  }
  
  .form label {
    color: var(--impure-black);
    margin-top: var(--space3x);
    display: block;
    border-bottom: black solid 1px;
  }
  

/* Éléments se superposant lors d'un format téléphone */

.text__contact {
  font-size: 2vw;
  font-weight: 300;
  padding-left: 15%;
  padding-top: 30%;
}

.form__contact {
padding-left: 10%;
}