/* Header mobile */
.mobile-header {
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 2;
    padding: var(--space2x) var(--space3x);
    justify-content: space-between;
    transition: all .3s ease-in-out;
  }

  .header__bar__mobile {
    display: flex;
    justify-content: inherit;
  }

  .header--atTop {
    background-color: var(--impure-black);
  }
  

/* Même propriétées pour le header mobile que le header desktop */
  .header__logo {
    display: block;
    width: 50%;
    margin: 5%;
  }


/* Header desktop */
  .desktop-header {
    display: flex;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: var(--space4x);
    justify-content: space-between;
  }

  .navigation {
    display: flex;
    list-style: none;
  }

  .navigation li {
    margin-right: 20px;
  }

  .navigation a {
    font-size: 1vw;
    color: var(--impure-white);
    text-decoration: none;
  }

  .header__end {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space3x);
  }

  #header__language__select {
    background-color: transparent;
    color: var(--impure-white);
    padding: 0.5rem;
  }


.header__sun {
width: 80%;
color: var(--impure-white);
}

/* Responsive du header */
  .mobile-header {
    display: block;
  }
  
  .desktop-header {
    display: none;
  }
  
  @media only screen and (min-width: 768px) {
    .mobile-header {
      display: none;
    }
  
    .desktop-header {
      display: flex;
    }
  }

.header__btn__mail {
  color: var(--impure-black);
  background-color: var(--impure-white);
  padding: var(--space1x);
  border-radius: 5px;

}