/* Header mobile */
.mobile-header {
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 2;
    padding: var(--space2x) var(--space3x);
    justify-content: space-between;
    transition: all .3s ease-in-out;
  }

  .header__bar__mobile {
    display: flex;
    justify-content: inherit;
    margin-top: 3%;
  }

  .header--atTop {
    background-color: var(--impure-black);
  }
  
  .header__logo__mode {
    display: block;
    width: 100%;
    margin: 5%;
  }


/* Header desktop */
  .desktop-header {
    background-color: #000;
    top: 0;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 1%;
    justify-content: space-between;
  }

  .navigation {
    display: flex;
    list-style: none;
  }

  .navigation li {
    margin-right: 40px;
  }

  .navigation a {
    font-size: 0.8vw;
    color: var(--impure-white);
    text-decoration: none;
  }


  .header__start {
    gap: 4%;
  }

  .header__end {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space3x);
    margin-right: 2%;
  }

  #header__language__select {
    background-color: transparent;
    color: var(--impure-white);
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 0.8vw;
  }

/* Light et Dark mode */
.header__sun {
  width: 80%;
  color: var(--impure-white);
}

.header__moon {
  width: 70%;
  color: var(--impure-white);
  }

/* Responsive du header */
  .mobile-header {
    display: block;
  }
  
  .desktop-header {
    display: none;
  }
  
  @media only screen and (min-width: 768px) {
    .mobile-header {
      display: none;
    }
  
    .desktop-header {
      display: flex;
    }
  }

.header__btn__mail {
  color: var(--impure-black);
  background-color: var(--impure-white);
  padding: var(--space1x);
  border-radius: 5px;
  border: #000;
  font-size: 0.8vw;
}



