.header {
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 2;
    padding: var(--space2x) var(--space3x);
    display: flex;
    justify-content: space-between;
    transition: all .3s ease-in-out;
  }

  .header--atTop {
    background-color: var(--impure-black);
  }
  
  .header__logo {
    display: block;
  }
 
