/* Animation Projets  */
.title__projets {
    font-family: 'Work Sans';
    text-align: center;
    font-size: 20vw;
    transition: font-size 0.5s;
  }
  
  .title__projets.big {
    font-size: 20vw;
  }
  
  .title__projets.small {
    font-size: 6vw;
    margin-bottom: 10%;
  }
  
  
  .slide-in-titl.title__projets {
    font-size: 8vw;
    position: relative;
    left: -100%;
    visibility: hidden;
    animation: slide-in 1s forwards;
  }
  
  @keyframes slide-in {
    from {
      left: -100%;
    }
    to {
      left: 50%;
    }
  }
  
  .slide-out-titl.title__projets {
    animation: slide-out 1s forwards;
  }
  
  @keyframes slide-out {
    from {
      left: 50%;
    }
    to {
      left: -100%;
    }
  }

  .scroll-text {
    height: 10vh;
    display: flex;
    align-items: center;
  }
  
  .p {
    width: 50%;
    animation: scroll-animation 10s linear forwards;
  }
  
  @keyframes scroll-animation {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }