/* Animation titre projets  */
/* .title__projets {
    font-family: 'Work Sans';
    text-align: center;
    font-size: 20vw;
    transition: font-size 0.5s;
  }
  
  .title__projets.big {
    font-size: 20vw;
  }
  
  .title__projets.small {
    font-size: 6vw;
    margin-bottom: 10%;
  }
  
  
  .slide-in-titl.title__projets {
    font-size: 8vw;
    position: relative;
    left: -100%;
    visibility: hidden;
    animation: slide-in 1s forwards;
  }
  
  @keyframes slide-in {
    from {
      left: -100%;
    }
    to {
      left: 50%;
    }
  }
  
  .slide-out-titl.title__projets {
    animation: slide-out 1s forwards;
  }
  
  @keyframes slide-out {
    from {
      left: 50%;
    }
    to {
      left: -100%;
    }
  } */
  

/* Curseur */
:root {
  --cursorX: 0;
  --cursorY: 0;
}

#cursor {
  pointer-events: none;
  display: none;
  position: fixed;
  top: var(--cursorX);
  left: var(--cursorY);
  z-index: 1000;
  z-index: 1000;
  transform: translate(0%, 0%) translate(0, 0%);
  mix-blend-mode: difference;
  transition-timing-function: ease-in-out;
  }


#cursor svg {
  height: 60px;
  width: 60px;
}

#cursor svg circle {
  cx: 30;
  cy: 30;
  r: 20;
  stroke-width: 0;
  fill: var(--impure-white);
}
    
/* Barre de progression au scoll */
#progress{
  background-color: var(--impure-black);
  height: 3px;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; /* Peut être important si vous avez un menu en position fixe */
}

/* Animation de text en cascade pour les projets */
.text__animation__cascade {
  position: relative;
  font-weight: 800;
}

.text__animation__cascade .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.text__animation__cascade .letter {
  display: inline-block;
  line-height: 1em;
}


.animation__title {
  text-align: center;
  margin-top: 60%;
  margin-bottom: 20%;
  }

.an2{
  color: var(--impure-black);
  font-size: 2em;
  text-transform: uppercase;
  overflow: hidden;
}

.an2 .letter {
  display: inline-block;
  line-height: 1em;
}


.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  margin-left: 22%;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.fa-arrow-down:before {
  color: var(--impure-black);
}


.arrow__text {
  text-transform: uppercase;
  font-weight: 600;
  float: left;
}



























