/*Page home avec la vidéo d'animation*/
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
  margin-top: -7%;
}

.background-video {
position: relative;
margin-bottom: 20%;
}

.video-overlay {
position: absolute;
top: 70%;
left: 50%;
transform: translate(-50%, -50%);
color: var(--gray);
font-size: 3vw;
text-align: center;
width: 100%;
height: 100%;
line-height: 1;
}


.chapo {
  font-weight: 300;
  font-size: 1.5vw;
  width: 50%;
  margin: auto;
  color: #fff;
  margin-top: 5%;
}
  

/*Autres pages */
.hero__title {
    font-weight: 500;
    font-size: 10vw;
    margin: 0; 
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1
  }

  /* Animation du texte */
  .hero__title .text-wrapper {
    position: relative;
    display: grid;
  }

  .hero__title .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform-origin: 100% 100%;
    bottom: 0;
  }

  .hero__title .letter {
    display: inline-block;
    line-height: 1em;
  }


