/*Page home avec la vidéo d'animation*/
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
  margin-top: -7%;
}

.background-video {
position: relative;
margin-bottom: 20%;
}

.video-overlay {
position: absolute;
top: 70%;
left: 50%;
transform: translate(-50%, -50%);
color: var(--gray);
font-size: 3vw;
text-align: center;
width: 100%;
height: 100%;
line-height: 1;
}

.hero__home__title {
  opacity: 0;
  animation: fade-in 5s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.chapo {
  font-weight: 300;
  font-size: 1.5vw;
  width: 50%;
  margin: auto;
  color: #fff;
  margin-top: 5%;
  opacity: 0;
  animation: fade-in 5s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
  

.fade-in-text {
  opacity: 0;
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* page à prospos */
.hero__about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.hero__about__title {
  margin-left: 20px;
  font-size: 5vw;
  font-weight: bold;
}

.hero__about__profil {
  height: auto;
  width: auto;
}
