/*Page home avec la vidéo d'animation*/
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero__home__video {
position: relative;
margin-bottom: 20%;
}

.hero__home__text {
position: absolute;
top: 80%;
left: 50%;
transform: translate(-50%, -50%);
color: var(--gray);
font-size: 3vw;
text-align: center;
width: 100%;
height: 100%;
line-height: 1;
}

.hero__home__title {
  opacity: 0;
  animation: fade-in 5s forwards;
  margin: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero__home__chapo {
  font-weight: 300;
  font-size: 1.5vw;
  width: 50%;
  margin: auto;
  color: #fff;
  margin-top: 3%;
  margin-bottom: 1.5%;
  opacity: 0;
  animation: fade-in 5s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
  

.fade-in-text {
  opacity: 0;
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* page à prospos */
.hero__about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-bottom: 10%;
  margin-left: 3%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
  z-index: 2;
}


  /* Appliquer la mise en page en deux colonnes pour les résolutions d'écran larges */
  @media (min-width: 768px) {
    .hero__about {
        grid-template-columns: 1fr 1fr;
    }
}

/* Appliquer la mise en page en une seule colonne pour les résolutions de téléphone */
@media (max-width: 768px) {
    .hero__about {
        grid-template-columns: 1fr;
        height: 100vh;
    }
}

.hero__about__title {
  font-size: 5vw;
  text-align: center;
}

.hero__about__profil {
  height: auto;
  width: auto;
  margin: auto;
}

