/* black
    MODE */
.black
    {
    background-color: var(--impure-black);
    color: var(--impure-white);
  }
  
  .black
    h3 {
    color: var(--impure-white);
  }

  .black
    li {
    color: var(--impure-white);
  }


  .black
    h2 {
    color: var(--impure-white);

  }

  .black
    h1{
    color: var(--impure-white);
  }

  .black
    .text__card {
    color: var(--impure-black);
  }

  .black
    label {
    color: var(--impure-white);
  }

  .black
    input {
    color: var(--impure-white);
  }

  .black
    .btn_contact {
    border: var(--impure-white);
    color: var(--impure-black);
    background: var(--impure-white);

}

.black
     .face-button .face-primary,
.face-button .face-secondary {
  background-color: var(--impure-white);
  color: var(--impure-black);
  border: 1rem;
  border: 1px solid  var(--impure-white);
}

.black
    .form__input input {
  border-bottom: 1px solid var(--impure-white);
}

.black
    .form__input textarea {
  border-bottom: 1px solid var(--impure-white);
  color: var(--impure-white);
}

.black
    .ligne {
  background-color: var(--impure-white);
}

.black
    .hero__home__text {
color: var(--impure-black);
}

.black
    .container__card .card {
  border: 1px  var(--impure-white);
  background: var(--gray-2);
  box-shadow: 0 8px 12px var(--impure-white);
  color: var(--impure-white);
}

.black
    .container__card .card .content .contentBx h3 {
	color: var(--impure-white);
}

.black
    .container__card p  {
	color: var(--impure-white);
}

.black
    .fa-arrow-down:before {
  color: var(--impure-white);
}


/* DARK MODE */
.dark {
  background-color: var(--impure-white);
  color: var(--impure-black);
}


/* 
.black
    .hero__video_dark {
  display: none;
 }
 
 .black
    .hero__video_black
    {
   display: block;
 }
 
 .dark .hero__video_dark {
   display: block;
 }
 
 .dark .hero__video_black
    {
   display: none;
 }
 */


 