/* LIGHT MODE */
.light {
    background-color: var(--impure-white);
    color: var(--impure-black);
  }
  
  .light h3 {
    color: var(--impure-black);
  }

  .light li {
    color: var(--impure-black);
  }


  .light h2 {
    color: var(--impure-black);

  }

  .light h1{
    color: var(--impure-black);
  }

  .light .text__card {
    color: var(--impure-white);
  }

  .light label {
    color: var(--impure-black);
  }

  .light input {
    color: var(--impure-black);
  }

  .light .btn_contact {
    border: var(--impure-black);
    color: var(--impure-white);
    background: var(--impure-black);

}

.light  .face-button .face-primary,
.face-button .face-secondary {
  background-color: var(--impure-black);
  color: var(--impure-white);
  border: 1rem;
  border: 1px solid  var(--impure-black);
}

.light .form__input input {
  border-bottom: 1px solid var(--impure-black);
}

.light .form__input textarea {
  border-bottom: 1px solid var(--impure-black);
  color: var(--impure-black);
}

.light .ligne {
  background-color: var(--impure-black);
}

.light .hero__home__text {
color: var(--impure-white);
}

.light .container__card .card {
  border: 1px  var(--impure-black);
  background: var(--gray-2);
  box-shadow: 0 8px 12px var(--impure-white);
  color: var(--impure-black);
}

.light .container__card .card .content .contentBx h3 {
	color: var(--impure-black);
}

.light .container__card p  {
	color: var(--impure-black);
}

.light .fa-arrow-down:before {
  color: var(--impure-black);
}


/* DARK MODE */
.dark {
  background-color: var(--impure-black);
  color: var(--impure-white);
}


/* 
.light .hero__video_dark {
  display: none;
 }
 
 .light .hero__video_light {
   display: block;
 }
 
 .dark .hero__video_dark {
   display: block;
 }
 
 .dark .hero__video_light {
   display: none;
 }
 */


 