/* Formulaire de contact */
.section__grid {
    margin-left: 3%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    z-index: 2;
    align-items: center;
}
    /* Appliquer la mise en page en deux colonnes pour les résolutions d'écran larges */
    @media (min-width: 768px) {
        .section__grid {
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
    }

    /* Appliquer la mise en page en une seule colonne pour les résolutions de téléphone */
    @media (max-width: 768px) {
        .section__grid {
            grid-template-columns: 1fr;
        }
    }

/* Page à propos */    
.section__margin {
    max-width: 40%;
    margin: auto;
}

.section__center {
    text-align: center;
    margin-bottom: 10%;
}

    /* Appliquer la mise en page en une seule colonne pour les résolutions de téléphone */
    @media (max-width: 768px) {
        .section__margin {
            max-width: 80%;
        }
    }


/* Page conditions d'utilisations du site */
.section__juridique {
    margin: 20%;
  }

