/* Formulaire de contact */
.section__grid {
    margin-left: 3%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    z-index: 2;
    align-items: center;
}
    /* Appliquer la mise en page en deux colonnes pour les résolutions d'écran larges */
    @media (min-width: 768px) {
        .section__grid {
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
    }

    /* Appliquer la mise en page en une seule colonne pour les résolutions de téléphone */
    @media (max-width: 768px) {
        .section__grid {
            grid-template-columns: 1fr;
        }
    }

/* Page à propos */    
.section__margin {
    max-width: 40%;
    margin: auto;
}

.section__center {
    text-align: center;
    margin-bottom: 10%;
}

    /* Appliquer la mise en page en une seule colonne pour les résolutions de téléphone */
    @media (max-width: 768px) {
        .section__margin {
            max-width: 80%;
        }
    }


/* Page conditions d'utilisations du site */
.section__juridique {
    margin: 20%;
  }




  .titles__works {
    color: var(--impure-white);
    display: grid;
    margin-bottom: 5%;
    width: 100%;
    font-weight: 800;
    padding: var(--space5x) ;
   }
   
   
   .title_work {
     font-size: 7vw;
     font-family: var(--font-bebas-neue);
     margin: 0;
   }
   
   
   @media (max-width: 530px) {
    .title_work {
      font-size: 30px;
    }
   }
   
   
   
   
   .ligne {
    background-color: var(--impure-white);
    height: 1px;
    width: 100%;
   }
   